.App {
  text-align: center;
}

.App__header {
  color: aliceblue;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(#555555, #9c9595, white);
  padding: 20px;
  /* border-bottom: 1px solid lightgray; */
}

.App__body {
  display: flex;
  /* justify-content: space-between; */
}

.App__bodyLeft {
  /* border-right: 1px solid lightgray; */
  width: 50%;
  color: #555555;
}
.App__bodyRight {
  /* border-left: solid lightgray; */
  width: 50%;
  color: #555555;
}
